<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xuchenbing.teac.mapper.ContactMapper" >
  <resultMap id="BaseResultMap" type="cn.xuchenbing.teac.entity.Contact" >
    <id column="contact_id" property="contactId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="contact_post" property="contactPost" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    contact_id, user_id, contact_phone, contact_address, contact_email, contact_post
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xuchenbing.teac.entity.ContactExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from contact
    where contact_id = #{contactId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from contact
    where contact_id = #{contactId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xuchenbing.teac.entity.ContactExample" >
    delete from contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xuchenbing.teac.entity.Contact" >
    insert into contact (contact_id, user_id, contact_phone, 
      contact_address, contact_email, contact_post
      )
    values (#{contactId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{contactAddress,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, #{contactPost,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xuchenbing.teac.entity.Contact" >
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactAddress != null" >
        contact_address,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="contactPost != null" >
        contact_post,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        #{contactId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPost != null" >
        #{contactPost,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xuchenbing.teac.entity.ContactExample" resultType="java.lang.Integer" >
    select count(*) from contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update contact
    <set >
      <if test="record.contactId != null" >
        contact_id = #{record.contactId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null" >
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactAddress != null" >
        contact_address = #{record.contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null" >
        contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPost != null" >
        contact_post = #{record.contactPost,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update contact
    set contact_id = #{record.contactId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      contact_address = #{record.contactAddress,jdbcType=VARCHAR},
      contact_email = #{record.contactEmail,jdbcType=VARCHAR},
      contact_post = #{record.contactPost,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuchenbing.teac.entity.Contact" >
    update contact
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPost != null" >
        contact_post = #{contactPost,jdbcType=VARCHAR},
      </if>
    </set>
    where contact_id = #{contactId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuchenbing.teac.entity.Contact" >
    update contact
    set user_id = #{userId,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      contact_post = #{contactPost,jdbcType=VARCHAR}
    where contact_id = #{contactId,jdbcType=VARCHAR}
  </update>
</mapper>