<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xuchenbing.teac.mapper.EducationMapper" >
  <resultMap id="BaseResultMap" type="cn.xuchenbing.teac.entity.Education" >
    <id column="education_id" property="educationId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="education_address" property="educationAddress" jdbcType="VARCHAR" />
    <result column="education_profession" property="educationProfession" jdbcType="VARCHAR" />
    <result column="education_degree" property="educationDegree" jdbcType="VARCHAR" />
    <result column="education_date" property="educationDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    education_id, user_id, education_address, education_profession, education_degree, 
    education_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xuchenbing.teac.entity.EducationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from education
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from education
    where education_id = #{educationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from education
    where education_id = #{educationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xuchenbing.teac.entity.EducationExample" >
    delete from education
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xuchenbing.teac.entity.Education" >
    insert into education (education_id, user_id, education_address, 
      education_profession, education_degree, education_date
      )
    values (#{educationId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{educationAddress,jdbcType=VARCHAR}, 
      #{educationProfession,jdbcType=VARCHAR}, #{educationDegree,jdbcType=VARCHAR}, #{educationDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xuchenbing.teac.entity.Education" >
    insert into education
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="educationId != null" >
        education_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="educationAddress != null" >
        education_address,
      </if>
      <if test="educationProfession != null" >
        education_profession,
      </if>
      <if test="educationDegree != null" >
        education_degree,
      </if>
      <if test="educationDate != null" >
        education_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="educationId != null" >
        #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="educationAddress != null" >
        #{educationAddress,jdbcType=VARCHAR},
      </if>
      <if test="educationProfession != null" >
        #{educationProfession,jdbcType=VARCHAR},
      </if>
      <if test="educationDegree != null" >
        #{educationDegree,jdbcType=VARCHAR},
      </if>
      <if test="educationDate != null" >
        #{educationDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xuchenbing.teac.entity.EducationExample" resultType="java.lang.Integer" >
    select count(*) from education
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update education
    <set >
      <if test="record.educationId != null" >
        education_id = #{record.educationId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.educationAddress != null" >
        education_address = #{record.educationAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.educationProfession != null" >
        education_profession = #{record.educationProfession,jdbcType=VARCHAR},
      </if>
      <if test="record.educationDegree != null" >
        education_degree = #{record.educationDegree,jdbcType=VARCHAR},
      </if>
      <if test="record.educationDate != null" >
        education_date = #{record.educationDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update education
    set education_id = #{record.educationId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      education_address = #{record.educationAddress,jdbcType=VARCHAR},
      education_profession = #{record.educationProfession,jdbcType=VARCHAR},
      education_degree = #{record.educationDegree,jdbcType=VARCHAR},
      education_date = #{record.educationDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuchenbing.teac.entity.Education" >
    update education
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="educationAddress != null" >
        education_address = #{educationAddress,jdbcType=VARCHAR},
      </if>
      <if test="educationProfession != null" >
        education_profession = #{educationProfession,jdbcType=VARCHAR},
      </if>
      <if test="educationDegree != null" >
        education_degree = #{educationDegree,jdbcType=VARCHAR},
      </if>
      <if test="educationDate != null" >
        education_date = #{educationDate,jdbcType=VARCHAR},
      </if>
    </set>
    where education_id = #{educationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuchenbing.teac.entity.Education" >
    update education
    set user_id = #{userId,jdbcType=VARCHAR},
      education_address = #{educationAddress,jdbcType=VARCHAR},
      education_profession = #{educationProfession,jdbcType=VARCHAR},
      education_degree = #{educationDegree,jdbcType=VARCHAR},
      education_date = #{educationDate,jdbcType=VARCHAR}
    where education_id = #{educationId,jdbcType=VARCHAR}
  </update>
</mapper>